<div class="unit-2 container">
    <h6>Bowbridge Works, Chartwell Drive, Wigston, Leicester. LE18 2FL</h6>
    <p>Substantial - Factory/warehousing divided to occupiers requirements</p>
    <div class="images-container">
        <img src="../../../assets/images/chartwellDrive3.jpg" alt="chartwell drive image 3" />
        <img src="../../../assets/images/chartwellDrive4.jpg" alt="chartwell drive image 4" />
        <img src="../../../assets/images/chartwellDrive6.jpg" alt="chartwell drive image 6" />
    </div>
    <div>
        <ul class="pl-3">
            <li>Individual units ranging from 11,000 Sq ft - 35,000 Sq ft</li>
            <li>Single Storey, Good Loading Access, Gas Heating, Modern Lighting</li>
            <li>No working hour restrictions</li>
            <li>Good access to A563/M1/M69</li>
            <li>Flexible unit sizes </li>
        </ul>
    </div>
</div>
