$main-color: #0095df;
$light-blue: #0095df;
$dark-blue: #242052;


$white: #ffffff;
$black: #000000;

$border-color: #95A5A6;

$text-color: #34495E;
$text-color-dark: #2C3E50;
$text-color-light: #7F8C8D;

$spacingXSmall: 5px;
$spacingSmall: 10px;
$spacingLarge: 15px;
$spacingXLarge: 20px;
$spacingXXLarge: 25px;
$spacingXXXLarge: 30px;

$transition-delay: 0.25s;
