.navbar {
  padding: $spacingXLarge 0;

  .fa-bars {
    color: $light-blue;
    font-size: 25px;
  }

  .navbar-toggler {
    border-color: $light-blue;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  &.navbar-expand-md, &.navbar-expand {
    a.nav-link {
      padding-left: 0;
      padding-right: 0;
      margin-right: $spacingLarge;
    }

    .nav-item.active {
      a {
        font-weight: 900;
      }
    }
  }

  /*.navbar-nav {
    flex-direction: row;
  }*/
}
