<div class="container main-content-home">
    <p class="d-md-block mb-3">Thurney Properties is a family run business that specialises in the acquisition and
        redevelopment of commercial
        and industrial property. Our business goal is to provide quality commercial letting solutions to prospective
        tenants with the view to maximise rentals across the sites within the company&rsquo;s portfolio.
    </p>
    <p class="d-sm-block d-none">Thurney
        properties acts as landlord and estates managers and is not only responsible for the collection of rent, but
        also to effectively give the best advice to tenants in the event that problems arise.
    </p>
    <div class="images-container">
        <a href="./unit-1"><img class="chartwell-drive-1" src="../../../assets/images/chartwellDrive1.jpg" alt="chartwell drive image 1"/></a>
        <a href="./unit-1"><img class="chartwell-drive-2" src="../../../assets/images/chartwellDrive2.jpg" alt="chartwell drive image 2"/></a>
        <a href="./unit-2"><img class="chartwell-drive-3" src="../../../assets/images/chartwellDrive3.jpg" alt="chartwell drive image 3"/></a>
        <a href="./unit-2"><img class="chartwell-drive-4" src="../../../assets/images/chartwellDrive4.jpg" alt="chartwell drive image 4"/></a>
    </div>
    <p class="mb-3">The company has been successful in the refurbishment and redevelopment of several large, multi occupied sites,
        including a 5 acre industrial estate in Wigston and a 9 acre site in Leicester City Centre, accommodating over
        30 tenants.

    <p class="mb-3">Tailor made lease agreement and an innovative approach to such terms, have allowed the sites to
        continue to grow and attract a diverse range of tenants, from new start-up businesses to larger organisations
        such as Parkway Volkswagen.</p>
    </p>
    <p class="d-none">The company’s ability to assess the current climate and plan ahead while at the same
        time analysing tenant’s needs and evaluating the associated risks and rewards, has enabled the business to
        maximise returns in the ever changing climate of the property market.
    </p>
    <p class="d-none">The hands on approach the company takes in the day to day running of each site, allows tenants to feel confident and safe in the environment in which they operate. The firm is dedicated in developing long term relationships with tenants, which in turn assists with the growth of their business, as well as strengthening the position of Thurney Properties. </p>
</div>
