<Footer>
    <div class="container">
        <h6>Thurney Properties Ltd</h6>
        <address>
            <strong>Chartwell House, 3 Chartwell Drive, Wigston, Leicester, LE18 2FL</strong>
        </address>
        <a class="telephone-link fas-parent animated-hover" href="tel:01162124350">
            <i class="fas fa-phone-square fas-shake"></i> <span>0116 212 1313</span>
        </a>
        <a class="fas-parent animated-hover" href="fax:01162121313">
            <i class="fas fa-fax fas-shake"></i> <span>0116 212 1313</span>
        </a>
        <a class="fas-parent animated-hover" href="mailto:info@thurneyproperties.com">
            <i class="fas fa-envelope-square fas-shake"></i> <span>info@thurneyproperties.com</span>
        </a>
    </div>


</Footer>