<header>
    <section class="container white-space-no-wrap">
        <div class="left-content">
            <a href="./index" class="logo-link"><img class="logo fas-vertical fas-slow" src="../../assets/images/thurneyPropertiesLogo.jpg" alt="company logo"/></a>
        </div>
        <div class="right-content">
            <a class="email-link fas-parent animated-hover" href="mailto:info@thurneyproperties.com">
                <i class="fas fa-envelope-square fas-shake"></i> <span>info@thurneyproperties.com</span>
            </a>
            <a class="telephone-link fas-parent animated-hover" href="tel:01162124350">
                <i class="fas fa-phone-square fas-shake"></i> <span>0116 212 1313</span>
            </a>
        </div>
    </section>
</header>
<section class="container">
    <nav class="navbar navbar-expand">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item {{#if home}}active{{/if}}">
                    <a class="nav-link" href="./index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{#if unit-1}}active{{/if}}">
                    <a class="nav-link" href="./unit-1">Unit-1</a>
                </li>
                <li class="nav-item {{#if unit-2}}active{{/if}}">
                    <a class="nav-link" href="./unit-2">Unit-2</a>
                </li>
                <li class="nav-item {{#if contact}}active{{/if}}">
                    <a class="nav-link" href="./contact">Contact</a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>-->
            </ul>
        </div>
    </nav>
</section>
