<header>
    <section class="container">
        <div class="left-content">
            <img class="logo" src="../../assets/img/thurneyPropertiesLogo.jpg" alt="company logo"/>
        </div>
        <div class="right-content">
            <a class="email-link" href="mailto:info@thurneyproperties.com">
                <i class="fas fa-envelope-square"></i> <span>info@thurneyproperties.com</span>
            </a>
            <a class="telephone-link" href="tel:01162124350">
                <i class="fas fa-phone-square"></i> <span>0116 212 1313</span>
            </a>
        </div>
    </section>
</header>