<div class="unit-1 container">
    <h6>Unit A-C, Bowbridge Works, Chartwell Drive, Wigston, Leicester. LE18 2FL</h6>
    <p>Modern High Bay Warehouse with Yard</p>
    <div class="images-container">
        <img src="../../../assets/images/chartwellDrive1.jpg" alt="chartwell drive image 1" />
        <img src="../../../assets/images/chartwellDrive2.jpg" alt="chartwell drive image 2" />
        <img src="../../../assets/images/chartwellDrive5.jpg" alt="chartwell drive image 5" />
    </div>
    <div>
        <ul class="pl-3">
            <li>Gross Internal Area 1,452.6 Sq M. (15,636 Sq Ft)</li>
            <li>High Internal Clearance reaching 9.25M</li>
            <li>Secure yard (can be separately fenced off)</li>
            <li>No working hour restrictions</li>
            <li>Good access to A563/M1/M69</li>
        </ul>
    </div>
    <a href="../../../assets/others/unit-1.pdf" target="_blank"><strong>Read more</strong></a>
</div>
