.main-content-home {
  .images-container {
    a {
      @include media-breakpoint-up(xs) {
        max-width: 48%;
        margin-bottom: 4%;
        flex: 1 0 48%;
      }
      @include media-breakpoint-up(sm) {
        max-width: 23%;
        flex: 1 0 23%;
      }

      img {
        max-width: 100%;
      }
    }
  }
}
