.unit-1, .unit-2 {
 .images-container {
    img {
      flex-grow: 1;
      flex-shrink: 0;
      @include media-breakpoint-up(xs) {
        max-width: 48%;
        margin-bottom: 4%;
        flex: 1 0 48%;
      }
      @include media-breakpoint-up(sm) {
        max-width: 32%;
        flex: 1 0 32%;
      }

      &:nth-child(3) {
        display: none;

        @include media-breakpoint-up(sm) {
          display: block;
        }
      }
    }
  }
}
