.unit-1, .unit-2 {
  /*height: 600px;*/
  /*background-color: lightgrey;*/
  margin-bottom: $spacingXLarge;

  .images-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: $spacingSmall;

    img {
      @include media-breakpoint-up(xs) {
        max-width: 48%;
        margin-bottom: 4%;
      }
      @include media-breakpoint-up(sm) {
        max-width: 32%;
      }

      &:nth-child(3) {
        display: none;

        @include media-breakpoint-up(sm) {
          display: block;
        }
      }
    }
  }
}
