{{#extend "base" title="Contact"}}
    {{#content "main" mode="prepend"}}
        {{> header contact=true}}
        <div class="container thank-you">
            <div>Thank you, your message has been sent!</div>
            <a href="./index.html">Return to homepage</a>
        </div>
        {{> footer}}
    {{/content}}
{{/extend}}
